# Virtual Environment
bci/
venv/
.venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data
data/*.gdf
data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

bci_script.md
parse_nb.py